/*----------------------------- VARIABLES -----------------------------*/
$primary-color:rgb(198,203,239);
$shadow-color:rgba(198, 203, 239, 0.3);
$secondary-color: #c6efea;
$tertiary-color:#efd9c6;
$fourth-color: #393e46;
$card-height: 80vh;
$card-width: 280px;

/*----------------------------- KEYFRAMES -----------------------------*/
@keyframes hover-shadow{
  from {box-shadow: 0px;}
  to {box-shadow: 3px 3px 3px $shadow-color}
}

@keyframes animatetop {
  from {top:-400px; opacity: 0}
  to {top:100; opacity: 1}
}

@keyframes infocus {
  from {transform: scale(1.0)}
  to {transform: scale(1.05)}
}

@keyframes outoffocus {
  from {transform: scale(1.05)}
  to {transform: scale(1.0)}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes counter-spin {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate-arrow-forwards {
  0% { transform: rotate(-45deg); }
  100% { transform: rotate(135deg); }
}

@keyframes rotate-arrow-backwards {
  0% { transform: rotate(135deg); }
  100% { transform: rotate(315deg); }
}

@keyframes menu-out {
  0% {
    max-height: 0;
    overflow: hidden;
  }

  100% {
    max-height: 400px;
    overflow: hidden;
  }
}

/*----------------------------- ELEMENTAL STYLING -----------------------------*/
$font-stack: 'Nanum Gothic', sans-serif;

body, html, textarea{
    margin: 0;
    padding: 0;
    font-family: $font-stack
  }
  
  ul {
    padding: 0;
  }
  
  li {
    margin-right: 5vw;
  }
  
  svg{
    margin: 0 auto;
  }
  
  h1{
    font-size: calc(0.5vw + 18px);
  }
  
  h2{
    font-size: calc(0.5vw + 17px);
  }
  
  h3{
    font-size: calc(0.5vw + 16px);
  }
  
  h4{
    font-size: calc(0.5vw + 15px);
  }
  
  h5{
    font-size: calc(0.5vw + 14px);
  }
  
  h6{
    font-size: calc(0.5vw + 13px);
  }
  
  p, a{
    font-size: calc(0.5vw + 12px);
  }
  /*----------------------------- GENERAL STYLING -----------------------------*/

.flex-col {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container-padding {
  align-items: center;
  padding-top: 40px;
  margin: auto;
}

.margin-top{
margin-top: 5vh;
}

.no-padding-bottom {
  padding: 0vh 3vw;
}

.container-padding {
  label, select {
  margin: 0.5vh 1vw;
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row-no-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-row-center{
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.align-center{
  text-align: center;
}

.space-between{
  justify-content: space-between;
}

.space-evenly{
  justify-content: space-evenly;
  margin: 1vw;
}

.space-around{
  justify-content: space-around;
}

.center-vertically{
  margin: auto;
}

.align-baseline{
  align-items: flex-end;
}

.button-clear{
  border: none;
  background-color: inherit;
  font-size: inherit;
}

.display-none {
  display: none;
}

.no-margin-no-padding{
  margin:auto;
}

  /*----------------------------- HEADER STYLING -----------------------------*/
  .header{
    display: inline-flex;
    position: fixed;
    top: 0;
    background-color: #393e46;
    font-weight: bold;
    z-index: 200;
    height:60px;
    width:100%;

    .header-text{
        margin: auto auto auto 20px;
        color: #eee;
    }

    .menu-bar-true,
    .menu-bar-false{
        border: transparent;
        margin: auto 1vw;
        background-color: transparent;
    }

     .line1, 
     .line2, 
     .line3 {
        width: 42px;
        height: 4px;
        background-color: #eee;
        margin: 10px 0;
        border-radius: 90px;
        transition: 0.5s
      }
      
    .menu-bar-true{ 
        .line1 {
            transform: rotate(-45deg) translate(-9px, 9px);
        }
        .line2 {
          transition: .05s;
            transform: translate(3rem, 0);
            opacity:0;
        }
        .line3 {
          transform: rotate(45deg) translate(-11px, -11px);
        }
    }
  }
    .nav-links{
        margin: auto 1vw;
        text-decoration: none;
    }
    .nav-links:hover{
        color: #ff9c91;
    }

  .menu-dropdown-true{
    position: fixed;
    right:0;
    transition: all 0.5s ease-in-out; 
    background-color: #dadddf;
    z-index: 100;
    top: 60px;
    margin: 0 auto;
    padding: 4.0vh 0 4.0vh;
    display: block;
    width:40vw;
    text-align: center;
    
    .nav-links{
        display: block;
        margin: 3.5vh auto;
    }
  
  }

  .menu-dropdown-false{
    position: fixed;
    display: hidden;
    top:-25vh;
    transition: all 0.5s ease-out; 
    .nav-links{
        display: inline-block;
        margin: 3.5vh auto;
    }
  }

.nav-links{
    color:#393e46;
    font-size: calc(0.5vw + 17px);
}
  
.nav-links:hover {
    transition: 0.2s;
    font-weight: 600;
    color: #ff9c91;
}

.admin {
    margin: 70px auto;
    width: 70vw;
    background-color: #e5e5e5;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px #3c4245;
    padding: 1vw 3vw;
    align-items: center;
    justify-items: center;
}

.btn-primary {
    color: $fourth-color;
    background-color: $secondary-color;
    border-color: $fourth-color;
    padding: 0.5vh auto;
    margin: 0.2vh auto;
    width: 100px;
    border-radius: 5px;
}

.btn-primary:hover {
  transition: 300ms;
  color:$secondary-color;
  background-color: $fourth-color;
  border-color: $secondary-color;
}

.btn-submit {
    display: block;
    margin: 0.5vh auto;
}

.admin-textarea {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    text-align: center;
}

.display-block {
    display: block;
}

.admin-inputs {
    width: 180px;
    height: 30px;
    border-radius: 3px;
    border: none;
    text-align: center;
    margin: 1vh 1vw;
}

select.admin-inputs {
  height: 32px;
  text-align-last:center;
}

.properties-container{
  margin: 80px auto;
  padding: 0% 2.5vw;
}

.property-card{
  padding: 0 20px;
  background-image: linear-gradient(to bottom, rgba(198,203,239,1), rgba(57,62,70,0.2));
  border: 2px solid $tertiary-color;
  border-radius: 5px;
  margin: 2vh auto;
  width: $card-width;
  height: $card-height;
  animation: 0.5s forwards outoffocus;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;

  h1,h2,h3,h4,h5,p{
    display: block;
    text-align: center;
    margin: 0.5vh auto;
  }
  svg{
    margin: 1vw;
  }

  button{
    padding: 1.5vh 3vw;
    background-color: $secondary-color;
    color: $fourth-color;
    border: 2px solid $fourth-color;
    border-radius: 5px;
    margin-bottom: 26px;
  }

  button:hover{
    transition: 400ms;
    background-color: $fourth-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }
}

.property-card:hover{
  animation: 1s forwards infocus;
}

.edit-row{
  background-color: white;
  border-radius: 5px;
  padding: 1vh 0.2vw;
  input{
    border-radius: 5px;
    border: 2px solid $tertiary-color;
    text-align: center;
    padding: 10px 0.5vw;
    margin: 0.2vh 0.2vw;
  }
  button{
    padding: 10px;
  }
}


/*----------------------------- LANDING STYLING -----------------------------*/

.landing-container{
  margin-top: 60px;
  height: 100vh;
  margin: auto;
  background-color:$secondary-color;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55vh;
  position: relative;
}

.landing-overlay{
  top: 20%;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.landing-text{
  font-size: calc(0.2vw + 24px);
  font-weight: 700;
  color: $tertiary-color;
  border: 3px solid $tertiary-color;
  padding: 40vh 5vw;
  margin: auto;
}

@keyframes darken {
  from {};
  to {background: rgba(0, 0, 0, 0.6)}
}
/*----------------------------- MODAL STYLING -----------------------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  padding: 1vh 2vw;
  position:relative;
  background: white;
  color: $font-stack;
  width: $card-width;
  height: 82%;
  top:52%;
  left:50%;
  transform: translate(-50%,-50%);
  animation: animatetop;
  animation-duration: 0.3s;
  border-radius: 5px;
  border: 3px solid $secondary-color;
}

.modal-form {
  height: 92%;
  h2{
    margin-top: 0px;
    padding-top: 0px;
  }

  input, textarea{
    width: 95%;
    height: 7.5%;
    border-radius: 5px;
    border: 3px solid $tertiary-color;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    text-align: center;
    margin: 2px 0px;
  }

  textarea{
    margin-top: 3px;
    height: 30%;
  }

}
.display-block {
  display: block;
  animation: darken 0.3s;
}

.modal-button{
  padding: 1.5vh 3vw;
  background-color: $fourth-color;
  color: $tertiary-color;
  border: 2px solid $tertiary-color;
  border-radius: 5px;
}

.align-right-button{
  margin: 10px 90%;
  padding: 10px;
}

/*----------------------------- LANDING STYLING -----------------------------*/


.card {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}


.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  position: absolute;
  top: 30vh;
  width: 300px;
  height: 300px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  background-size: cover;
}

.card-face-front {
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1495766682737-d96292f4eb4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  color: $primary-color;
}

.card-face-back {
  background-image: url(https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  transform: rotateY(180deg);
}


// .flip-card {
//   position: absolute;
//   right: 0;
//   left:0;
//   top: 0;
//   bottom:0;
//   margin: auto;
//   width: 300px;
//   height: 300px;
//   width: 50;
//   height: 50;
//   perspective: 1000px; 
//   will-change: transform, opacity;
// }


// .front,
// .back {
//   background-size: cover;
// }

// .front, .back{
//   color: white;
//   font-weight: 700;
//   display: flex;
//   align-items: center;
//   font-size: calc(1.4vw + 36px);
// }

.border-secondary{
  border: 3px solid $secondary-color
}

.btn-login{
  height: 40px;
}

/*----------------------------- TOOLTIP STYLING -----------------------------*/

.tooltip-container {
  position: relative;
  display: flex;
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 20%, 0.9);
  padding: 10px 0.5vw;
  margin-bottom: 5px;
  color:#fff;
  text-align: center;
  font-size: 14px;
}

/*----------------------------- LOADING STYLING -----------------------------*/
.loading-container{
  margin: 20vh auto;
}

.loader {
  margin: 20vh auto;
  border: 16px solid $shadow-color; 
  border-top: 16px solid $secondary-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/*----------------------------- MENU STYLING -----------------------------*/
.arrow{
  margin: 26px auto 18px;
  padding: 0.75vh;
  border: 6px solid $primary-color;
  border-radius: 3px;
  border-top: none;
  border-right: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.arrow-down{
  animation: 1s forwards rotate-arrow-forwards;
}

.arrow-up{
  animation: 1s forwards rotate-arrow-backwards;
}

.menu-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-top: 22px;
}

.menu-button-active {
  background-color: $fourth-color;
  border: 3px solid $tertiary-color;
  color: $tertiary-color;
}

.menu-button-inactive {
  background-color:  $tertiary-color;
  border: 3px solid $fourth-color;
  color: $fourth-color;
  opacity: 60%;
}

/*----------------------------- SLIDER STYLING -----------------------------*/

.slider-container{
  height:60px;
  width: 300px;
  margin-top: 14px;
}

.slider {
  -webkit-appearance: none;
  height: 25px;
  background: $tertiary-color;
  -webkit-transition: 1.5s;
  transition: opacity 1.5s;
  opacity: 0.8;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $fourth-color;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $secondary-color;
}
.slider-lower{
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.slider-upper{
  border-radius:25px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.slider-line{
  background: $tertiary-color;
  border-radius: 25px;
}

.flex-row-text-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.prop-links{
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: $fourth-color;
  text-align: center;
  text-justify: center;
  margin-top: 40px;
}

.property-filters{
  border: 3px solid $primary-color;
  border-radius: 5px;
  margin: auto;
}

.property-filters-false-narrow{
  height: 130px;
  width: 320px;
}

.property-filters-true-narrow{
  width: 320px;
  animation: 500ms ease-out menu-out;
}

.property-filters-true-wide{
  animation: 500ms ease-out menu-out;
}